<script>
    const __appCoreViewModel = (function () {
        const Global_Resources = {
            "module": "view-model-core",
            "version": "0.0.2",
            "en": {
            }
        };

        const locale = 'en';
        const resources = Global_Resources[locale];

        this.ViewModel = {
            /**
             * @param {Object} param0
             * @param {HTMLElement} param0.container                 
             * @param {Array<{id:string,label:string,handler:string,className:string|undefined}>|undefined} param0.actions
             * @param {Array<{id:string,type:'text'|'textarea'|'checkbox',label:string,required:boolean|undefined,defaultValue:string|undefined,placeholder:string|undefined}>|undefined} param0.inputFields
             * @param {string} param0.id
             */
            appendCard: ({ container, id, title, subtitle, content, tip, actions, inputFields, hidden }) => {
                console.log('😀 renderCard', { container, id, title, subtitle, content, tip, actions, inputFields, hidden });

                let html = '';
                // Card
                if (inputFields) {
                    html += `<form id="${id}" class="card ${hidden ? 'hidden' : ''}">`;
                }
                else {
                    html += `<div class="card ${hidden ? 'hidden' : ''}" id="${id}">`;
                }


                // Add card titlex
                html += `  <div class="title">${title}`;
                html += '    <div class="right led"></div>';
                if (subtitle) {
                    html += `    <div class="subtitle1">${subtitle}</div>`;
                }
                html += '  </div>';
                // Add card content
                html += '  <div class="content body1">';
                if (content) {
                    html += content || '';
                }
                html += '  </div>';
                if (inputFields) {
                    html += '  <div class="content body1">';
                    inputFields.forEach((inputField) => {
                        html += `  <div class="input" id="${inputField.id}_input">`;
                        html += `    <label for="${inputField.id}">${inputField.label}</label>`;
                        switch (inputField.type) {
                            case 'textarea':
                                html += `    <textarea id="${inputField.id}" name="${inputField.id}" placeholder="${inputField.placeholder}" ${inputField.required ? 'required' : ''}>${inputField.defaultValue}</textarea>`;
                                break;
                            case 'checkbox':
                                html += `    <input type="checkbox" id="${inputField.id}" name="${inputField.id}" ${inputField.defaultValue ? 'checked' : ''}>`;
                                break;
                            default:
                                html += `    <input type="text" id="${inputField.id}" name="${inputField.id}" placeholder="${inputField.placeholder}" value="${inputField.defaultValue}" ${inputField.required ? 'required' : ''}>`;
                                break;
                        }
                        html += '  </div>';
                    });
                    html += '  </div>';
                }
                if (tip) {
                    html += '  <div class="tip">';
                    html += tip || '';
                    html += '  </div>';
                }
                if (actions) {
                    // Add card actions
                    html += '  <div class="action">';
                    actions.forEach((action) => {
                        if (inputFields) {
                            html += `    <input class="button ${action.className || 'primary'}" type="submit" value="${action.label}"`
                                + ` id="${action.id}" `
                                + ` onclick="${action.handler}" />`;
                        }
                        else {
                            html += `    <input class="button ${action.className || 'primary'}" type="button" value="${action.label}"`
                                + ` id="${action.id}" `
                                + ` onclick="${action.handler}" />`;
                        }
                    });
                    html += '  </div>';
                }

                // end of card
                if (inputFields) {
                    html += '</form>';
                }
                else {
                    html += '</div>';
                }

                if (container) {
                    container.innerHTML += html;
                }

                return html;
            },
            // renderWorkInProgress method
            renderWorkInProgress: ({ cardId, message }) => {
                this.ViewModel.renderSubtitle({
                    cardId: cardId,
                    message: message
                });
                this.ViewModel.renderLed({ led: '🟡' });
                this.ViewModel.disableAllButtons();
                this.ViewModel.disableAllTextAreas();
                this.ViewModel.disableAllInputs();
            },
            // render idle state
            renderIdleState: ({ cardId, message }) => {
                this.ViewModel.renderSubtitle({
                    cardId: cardId,
                    message: message
                });
                this.ViewModel.renderLed({ led: '' });
                this.ViewModel.enableAllButtons();
                this.ViewModel.enableAllTextAreas();
                this.ViewModel.enableAllInputs();
            },
            // render error state
            renderErrorState: ({ cardId, message }) => {
                this.ViewModel.renderSubtitle({
                    cardId: cardId,
                    message: '<span class="error">' + message + '</span>'
                });
                this.ViewModel.renderLed({ led: '🔴' });
                this.ViewModel.enableAllButtons();
                this.ViewModel.enableAllTextAreas();
                this.ViewModel.enableAllInputs();
            },
            // renderSubtitle method
            renderSubtitle: ({ cardId, message }) => {
                const container = document.getElementById(cardId);
                if (!container) {
                    return;
                }

                const subtitle1 = container.querySelector('.subtitle1');
                const subtitle2 = container.querySelector('.subtitle2');
                if (!subtitle1 && !subtitle2) {
                    return;
                }
                if (subtitle2) {
                    subtitle2.innerHTML = message;
                }
                else {
                    subtitle1.innerHTML = message;
                }
            },
            // render led
            renderLed: ({ led }) => {
                const leds = document.getElementsByClassName("led");
                if (!leds) {
                    leds.innerHTML = '🔘';
                }

                for (let i = 0; i < leds.length; i++) {
                    leds[i].innerHTML = led;
                }
            },
            // disableAllButtons method
            disableAllButtons: () => {
                const buttons = document.querySelectorAll('input[type="button"]');

                buttons.forEach((button) => {
                    button.disabled = true;
                    button.classList.add('disabled');
                });

            },
            // enableAllButtons method
            enableAllButtons: () => {
                const buttons = document.querySelectorAll('input[type="button"]');
                buttons.forEach((button) => {
                    button.disabled = false;
                    button.classList.remove('disabled');
                });
            },
            disableAllTextAreas: () => {
                const textAreas = document.querySelectorAll('textarea');
                textAreas.forEach((textArea) => {
                    textArea.disabled = true;
                });
            },
            enableAllTextAreas: () => {
                const textAreas = document.querySelectorAll('textarea');
                textAreas.forEach((textArea) => {
                    textArea.disabled = false;
                });
            },
            disableAllInputs: () => {
                const inputs = document.querySelectorAll('input');
                inputs.forEach((input) => {
                    input.disabled = true;
                });
            },
            enableAllInputs: () => {
                const inputs = document.querySelectorAll('input');
                inputs.forEach((input) => {
                    input.disabled = false;
                });
            },
            setCardVisibility: ({cardId, visibillity}) => {
                console.log('😀 setCardVisibility', { cardId, visibillity });
                const card = document.getElementById(cardId);
                if (card) {
                    card.classList.toggle('hidden', !visibillity);
                }
            },

        };

        return this.ViewModel;
    })();
</script>