.card {
    background-color: #CCC;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: inline-block;
    min-width: 280px;
    min-height:200px;
    overflow: hidden;
}

.card .content {
    display: block;
    min-height:10px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    font-size: 12px;
}

.card .header {
    background-color: #555;
    color: #FFF;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.card .footer {
    background-color: #555;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    text-align: right;
    min-height: 30px;
}