<script>
    (function () {
        const Global_Resources = {
            "module": "setup",
            "version": "0.0.1",
            "en": {
                "welcome": "Welcome setup page",
                "setting": "Setting",
                "settingInfo": "Setting Info",
                "settingInfoContent": "This is a simple setting page. It is designed to help you understand how to use this page.",
                "token": "Token",
                "deployments": "Deployments",
                "deploy": "Deploy",
                "deployUrl": "Deploy URL",
                "deployUrlPlaceholder": "https://script.google.com/macros/s/.../exec",
                "deployUrlHelp": "This is the URL of the deployed web app. It is used to call the web app from the web.",
                "webhook": "Webhook",
                "webhookUrl": "Webhook URL",
                "webhookUrlPlaceholder": "https://api.telegram.org/bot.../setWebhook",
                "webhookUrlHelp": "This is the URL of the webhook. It is used to set the webhook for the telegram bot.",
                "webhookInfo": "Webhook Info",
                "help": "Help",
                "helpContent": "This is a simple help page. It is designed to help you understand how to use this page. "
                    + "This is a simple help page. It is designed to help you understand how to use this page.",
                "inputFields": [
                    {
                        "id": "BOT_TOKEN",
                        "type": "text",
                        "required": true,
                        "label": "Bot Token", "placeholder": "Enter your bot token form BotFather", "defaultValue": ""
                    },
                    {
                        "id": "DEPLOYMENT_ID",
                        "type": "text",
                        "label": "Deployment ID", "placeholder": "Enter live deploymentId", "defaultValue": ""
                    },
                    {
                        "id": "ADMIN_CHAT_ID",
                        "type": "text",
                        "label": "Admin Chat ID", "placeholder": "Enter your chatid here", "defaultValue": ""
                    }
                ],
                "actions": [
                    { "id": "save", "label": "Save", "handler": "SettingPage.AppHandler.onClick(event)" }
                ]
            }
        };

        const locale = 'en';
        const resources = Global_Resources[locale];

        const thisPage = this.SetupPage = {
            // Model class
            AppHandler: {
                // start method
                start: (e) => {
                    console.log('😀 start', __appCoreViewModel);
                    const viewModel = thisPage.ViewModel;
                    viewModel.start();
                    thisPage.AppHandler.fetchSecrets();

                },
                // onClick method
                onClick: (e) => {
                    console.log('😀 ViewModel.onClick', e);
                    // check if required fields are filled
                    const _form = document.getElementById(thisPage.ViewModel.FORM_INPUTS_CARD_ID);
                    if (_form) {
                        const inputs = _form.querySelectorAll('input');
                        let isValid = true;
                        inputs.forEach((input) => {
                            if (input.required && !input.value) {
                                isValid = false;
                            }
                        });
                        if (isValid) {
                            e.preventDefault();
                        }
                    }

                    const viewModel = thisPage.ViewModel;
                    if (e.target.id === 'save') {
                        console.log('😀 ViewModel.onClick', 'save');
                        thisPage.AppHandler.saveSecrets();
                    }
                },

                fetchSecrets: () => {
                    console.log('😀 fetchSecrets');
                    // call the server
                    google.script.run
                        .withSuccessHandler(thisPage.AppHandler.onFetchSuccess)
                        .withFailureHandler(thisPage.AppHandler.onFetchFailure)
                        .fetchAppSecrets();
                },
                onFetchSuccess: (response) => {
                    console.log('😀 onServerSuccess', response);
                    const viewModel = thisPage.ViewModel;
                    viewModel.setSecrets(response);
                },
                onFetchFailure: (response) => {
                    console.log('😀 onServerError', response);
                },
                saveSecrets: () => {
                    console.log('😀 saveSecrets');
                    // get the form data
                    const form = document.getElementById(thisPage.ViewModel.FORM_INPUTS_CARD_ID);
                    const formData = new FormData(form);
                    const data = {};
                    formData.forEach((value, key) => {
                        data[key] = value;
                    });
                    console.log('😀 saveSecrets', data);

                    // call the server
                    google.script.run
                        .withSuccessHandler(thisPage.AppHandler.onSaveSuccess)
                        .withFailureHandler(thisPage.AppHandler.onSaveFailure)
                        .saveAppSecrets(data);
                },
                onSaveSuccess: (response) => {
                    console.log('😀 onSaveSuccess', response);
                },
                onSaveFailure: (response) => {
                    console.log('😀 onSaveError', response);
                }
            },
            // View class
            ViewModel: {
                ONLINE_CARD_ID: 'online-card',
                FORM_INPUTS_CARD_ID: 'form-input-card',
                // start method
                start: () => {
                    console.log('😀 ViewModel.start');
                    thisPage.ViewModel.renderPage({ container: document.getElementById("app") });
                },
                /**
                 * @param {Object} param0
                 * @param {HTMLElement} param0.container
                 */
                renderPage: ({ container }) => {
                    console.log('😀 renderPage', { container });
                    if (!container) {
                        return;
                    }

                    // Add container
                    container.innerHTML = '<div class="container" id="appContainer"></div>';

                    __appCoreViewModel.appendCard({
                        container: container.querySelector('#appContainer'),
                        id: thisPage.ViewModel.ONLINE_CARD_ID,
                        title: '<h1>ver: ' + Global_Resources.version + '</h1>'
                    });

                    __appCoreViewModel.appendCard({
                        container: container.querySelector('#appContainer'),
                        id: thisPage.ViewModel.FORM_INPUTS_CARD_ID,
                        title: resources.settingInfo,
                        subtitle: resources.settingInfoContent,
                        inputFields: resources.inputFields,
                        actions: resources.actions
                    });

                },
                setSecrets: (secrets) => {
                    console.log('😀 ViewModel.setSecrets', secrets);
                    const form = document.getElementById(thisPage.ViewModel.FORM_INPUTS_CARD_ID);
                    if (form) {
                        const inputs = form.querySelectorAll('input');
                        inputs.forEach((input) => {
                            if (secrets[input.name]) {
                                input.value = secrets[input.name];
                            }
                        });
                    }
                }
            }
        };

        thisPage.AppHandler.start();
    })();
</script>