<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Settings</title>
    <base target="_top">
    <?!= include('component/stylesheets/Stylesheet'); ?>
    <?!= include('component/stylesheets/Stylesheet-typography'); ?>
    <?!= include('component/stylesheets/Stylesheet-themes'); ?>
    <?!= include('component/stylesheets/Stylesheet-buttons'); ?>
    <?!= include('component/stylesheets/Stylesheet-forms'); ?>
    <?!= include('component/stylesheets/Stylesheet-cards'); ?>
    <?!= include('component/stylesheets/Stylesheet-report'); ?>
</head>

<body>
    <div class="app" id="app"></div>
    <!-- Base view model -->
    <?!= include('component/core/JavaScript'); ?>
    <!-- Settings view model -->
    <?!= include('component/setting/JavaScript'); ?>
</body>

</html>