<style>
    /* dark */
    body {
        /* dark */
        background-color: #333;
        color: #f1f1f1;
    }

    .app {
        /* dark */
        background-color: #333;
        color: #f1f1f1;
    }

    .app .header {
        /* dark */
        background-color: #333;
        color: #f1f1f1;
    }

    .success {
        background-color: #4CAF50 !important;
        /* Green */
    }

    .error {
        background-color: #f44336 !important;
        /* Red */
    }

    .warn {
        background-color: #ff9800 !important;
        color: #000 !important;
        /* Red */
    }

    .primary {
        background-color: #2196F3 !important;
        /* Blue */
    }

    .primary-dark {
        background-color: #1976d2 !important;
        /* Blue */
    }

    .accent {
        background-color: #ff4081 !important;
        /* Blue */
    }

    .info {
        background-color: #00bcd4 !important;
        /* Blue */
    }

    .secondary {
        background-color: #607d8b !important;
        /* Blue */
    }
</style>