<script>
    (function () {
        this.Global_Resources = {
            "module": "bot-setup",
            "version": "0.0.2",
            "en": {
                "welcome": "Welcome to telegram bot",
                "bot": {
                    "name": "Bot name",
                    "shortDescription": "Short description",
                    "description": "Description",
                    "commands": "Commands"
                },
                "inputFields": [
                    {
                        "id": "MESSAGE_TEXT",
                        "type": "text",
                        "required": true,
                        "label": "Message text",
                        "placeholder": "Enter message here",
                        "defaultValue": "This is a test message"
                    },
                    {
                        "id": "CHAT_ID",
                        "type": "text",
                        "required": true,
                        "label": "Chat ID",
                        "placeholder": "Enter chatid here",
                        "defaultValue": ""
                    }
                ],
                "actions": [
                    { "id": "sendMessage", "label": "Send message", "handler": "BotSetupComponent.AppHandler.onClick(event)" },
                    { "id": "setWebhook", "label": "Set webhook", "handler": "BotSetupComponent.AppHandler.onClick(event)" },
                    { "id": "deleteWebhook", "label": "Delete webhook", "handler": "BotSetupComponent.AppHandler.onClick(event)" }
                ]
            }
        };

        const locale = 'en';
        const resources = this.Global_Resources[locale];

        const thisComponent = this.BotSetupComponent = {
            // Model class
            AppHandler: {
                // start method
                start: () => {
                    console.log('😀 start');
                    thisComponent.ViewModel.start();
                    __appCoreViewModel.renderWorkInProgress({
                        cardId: thisComponent.ViewModel.STATE_CARD_ID,
                        message: 'Loading...'
                    });
                    thisComponent.AppHandler.getWebhook();
                },
                // onClick method
                onClick: (e) => {
                    console.log('😀 onClick', e);
                    if (e.target.id === 'setWebhook') {
                        thisComponent.AppHandler.setWebhook();
                        // refresh the page
                    } else if (e.target.id === 'deleteWebhook') {
                        thisComponent.AppHandler.deleteWebhook();
                        // refresh the page
                    } else if (e.target.id === 'sendMessage') {
                        thisComponent.AppHandler.sendMessage();
                        // refresh the page
                    }
                },
                getWebhook: () => {
                    console.log('😀 getWebhook');
                    // call the server to get the webhook
                    // call the server
                    google.script.run
                        .withSuccessHandler(thisComponent.AppHandler.onGetSuccess)
                        .withFailureHandler(thisComponent.AppHandler.onServerFailure)
                        .getWebhookInfo();
                },
                onGetSuccess: (response) => {
                    console.log('😀 onGetSuccess', { response });
                    __appCoreViewModel.renderIdleState({
                        cardId: thisComponent.ViewModel.STATE_CARD_ID,
                        message: 'Idle'
                    });

                    // todo: loop on all entries of response.result object
                    for (const element of Object.entries(response.result)) {
                        thisComponent.ViewModel.updateView(element);
                    }
                    // and update the view

                },
                onServerFailure: (error) => {
                    console.log('😀 onGetFailure', error);
                    __appCoreViewModel.renderErrorState({
                        cardId: thisComponent.ViewModel.STATE_CARD_ID,
                        message: error.message
                    });
                    // todo: update the view
                },
                setWebhook: () => {
                    console.log('😀 setWebhook');
                },
                deleteWebhook: () => {
                    console.log('😀 deleteWebhook');
                },
                sendMessage: () => {
                    console.log('😀 sendMessage');
                    const chat_id = document.getElementById('CHAT_ID').value;
                    const text = document.getElementById('MESSAGE_TEXT').value;
                    __appCoreViewModel.renderWorkInProgress({
                        cardId: thisComponent.ViewModel.STATE_CARD_ID,
                        message: 'Sending message...' + text + ' to ' + chat_id
                    });

                    google.script.run
                        .withSuccessHandler(thisComponent.AppHandler.onSendMessageSuccess)
                        .withFailureHandler(thisComponent.AppHandler.onServerFailure)
                        .sendMessage(chat_id, text);
                },
                onSendMessageSuccess: (response) => {
                    console.log('😀 onSendMessageSuccess', { response });
                    __appCoreViewModel.renderIdleState({
                        cardId: thisComponent.ViewModel.STATE_CARD_ID,
                        message: 'Idle'
                    });
                }
            },
            // View class
            ViewModel: {
                STATE_CARD_ID: 'state-card',
                BOT_CARD_ID: 'bot-card',
                // start method
                start: () => {
                    console.log('😀 ViewModel.start');
                    thisComponent.ViewModel.renderPage({ container: document.getElementById("app") });
                },
                // renderSidebar method
                renderPage: ({ container }) => {
                    console.log('😀 renderPage', { container });
                    if (!container) {
                        return;
                    }

                    // Add container
                    container.innerHTML = '<div class="container" id="appContainer"></div>';

                    __appCoreViewModel.appendCard({
                        container: container.querySelector('#appContainer'),
                        id: thisComponent.ViewModel.STATE_CARD_ID,
                        title: '<h1>ver: ' + this.Global_Resources.version + '</h1>'
                    });

                    __appCoreViewModel.appendCard({
                        container: container.querySelector('#appContainer'),
                        id: thisComponent.ViewModel.BOT_CARD_ID,
                        title: resources.welcome,
                        actions: resources.actions,
                        inputFields: resources.inputFields
                    });

                },
                // updateView method
                updateView: (data) => {
                    console.log('😀 updateView', { data });
                    // update the view
                },
            } // End of ViewModel
        };

        thisComponent.AppHandler.start();
    })();


</script>